@import url('https://fonts.googleapis.com/css?family=Caveat');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background: url("https://i.pinimg.com/originals/57/ae/93/57ae93462971760386cadfe7195efef6.jpg");
    background-position: -120px 0px;
    background-size: cover;
}
body {
    font-family: "Caveat", cursive;
}
.letter {
    position: absolute;
    background: white;
    padding: 5px 10px;
    box-shadow: 1px 1px 25px gray;
    margin: 160px auto auto 25px;
    transform: rotate(-2.5deg);
    width: 84%;
    height: 40%;
}
#signature {
    right: 30px;
    top: 130px;
    position: absolute;
}
